*{
    margin: 0;
    padding: 0;
} 
.headerBundle{
    background-color: rgb(48, 0, 77);
    padding: 20px 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    width: 100%;
    height: 50px;
    font-size: small;
    color: white;
    line-height: 50px;
}
 body{
    background-image: linear-gradient(to bottom, #6732ff, #7c38fe, #8e3ffe, #9e47fd, #ac4ffd, #b14ffb, #b54ef9, #b94ef7, #b644f2, #b439ed, #b12de8, #af1ce3);
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.gameboard{
    padding: 20px;
    display: flex;
    width: calc(100% - 40px);
    max-width: 500px;
    aspect-ratio: 1 / 1;
    /* height: 100vw;
    max-height: 500px; */
    flex-wrap: wrap;
    justify-content: center;
    margin: 100px auto;
    position: relative;
}
.color{
    width: 50%;
    height: 50%;
}
.color:hover{
    cursor: pointer;
}

.btn-star{
    position: absolute;
    background-color: rgb(48, 0, 77);
    border: 1px solid rgb(22, 1, 41);
    color: white;
    box-shadow: 2px 5px 5px 0 rgba(0,0,0,0.15);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    width: 90%;
    height: 90px;
    top: calc(50% - 45px) ;
    max-width: 600px;
    font-size: x-large;
}
@media screen and (min-width: 550px){
    .btn-star{
        font-size: 2rem;
        padding: 30px 100px;
        line-height: 30px;
        width: 100%;
    }
    .gameboard{
        width: 500px;
        height: 500px;
    }
}
.btn-star:hover{
    cursor: pointer;

}

#celeste{
    background-color: #0069F8;
    border-top-left-radius: 100%;
}
#violeta{
    background-color: #763CD4;
    border-top-right-radius: 100%;
}
#verde{
    background-color: #E11EAE;
    border-bottom-right-radius: 100%;
}
#naranja{
    background-color: #fffc3a;
    border-bottom-left-radius: 100%;
}
.none{
    display: none;
}

.light{
  box-shadow: 0 0 8px 8px rgb(255, 255, 255); 
  z-index: 999; 
}